.btn {
  font-size: 18px;
  padding: 20px 40px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;
}

.btn-primary {
  background-color: slateblue;
  color: white;
}

.btn-secondary {
  border-color: slateblue;
  color: slateblue;
}
